.chart-title {
    font-size: medium;
    text-align: center;
    font-family: times;
    font-style: italic;
    padding: 5px;
    margin-bottom: 20px;
    color: #334455;
    font-weight: 100;
}
.chart-title--quote {
    font-size: x-large;
    font-weight: 100;
}
