.basic-link-list {
  list-style: none;
  width: 20%;
}
.basic-link-list li {
  margin: 0.5rem;
  border: 2px solid #DDD;
  border-radius: 8px;
  padding: 16px;
}

.basic-link-list li a {
  text-decoration: none;
  outline: none;
  color: #000;
}

.basic-link-list li a:hover {
  text-decoration: none;
  outline: none;
  color: #999;
}